<div class='well'>
  <%= form_for @employee do |f| %>

    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <%= f.submit @employee.new_record? ? "Add" : "Update", class: 'btn btn-success' %>
  <% end %>
</div>