<div class='well'>
  <%= form_for @employee do |f| %>

    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit @employee.new_record? ? "Register" : "Update", class: 'btn btn-success' %>
  <% end %>
</div>