
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <style>
    body {
        margin-top: 60px;
    }
    </style>

</head>

<table class="table">
    <tr>
      <div class="col">
        <div class="col-md-3"></div>
        <div class="col-md-1">Sunday</div>
        <div class="col-md-1">Monday</div>
        <div class="col-md-1">Tuesday</div>
        <div class="col-md-1">Wednesday</div>
        <div class="col-md-1">Thursday</div>
        <div class="col-md-1">Friday</div>
        <div class="col-md-1">Saturday</div>
        <div class="col-md-1">Total Shifts</div>
    </tr>
  </table>


  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <table class="table">
            <% @employees.each do |employee| %>
              <tr>
                <td class="list_description">
                  <dl>
                    <dt><%= employee.name %></dt>
                    <dt><%= employee.title %></dt>
                    <dt><%= employee.description %></dt>
                  </dl>
                </td>
                <td class="list_actions">
                  <%= link_to 'Show', employee %><br/>
                </td>
              </tr>
            <% end %>
          </table>
          <%= link_to 'New Employee', new_employee_path %>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">Brunch
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">AM
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">AM
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">AM
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">AM
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">AM
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
      <div class="col-md-1">
        <tr>
          <td class="list_description">
            <dl>
              <dt>
                <label>
                  <input type="checkbox">AM
                </label>
              </dt>
            </dl>
          </td>
        </tr>
      </div>
    </div>
  </div>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.js"></script>

</html>


