<h3>Chef's name : </h3>

<h4><%= @employee.name %></h4>
<h5><%= @employee.title %></h5>
<p><%= @employee.description %></p>

<h4><%= link_to "Edit", edit_employee_path %>
<h4><%= link_to "Delete", @employee, method: :delete,
                data: { confirm: 'Are you sure?'} %>
