<body>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employee.description %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
<%= link_to 'Delete', @employee, method: :delete, data: { confirm: 'Are you sure?' } %>
</body>
