<h1>Schedules</h1>

<table>
    <% @schedules.each do |schedule| %>
      <tr>
        <td>
          <dl>
            <dt><%= schedule.day %></dt>
            <dt><%= schedule.shift %></dt>
          </dl>
        </td>
        <td class="list_actions">
          <%= link_to 'Show', schedule %><br/>
          <%= link_to 'Destroy', @schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
