<%= form_for(@line_staff) do |f| %>
  <% if @line_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_staff.errors.count, "error") %> prohibited this line_staff from being saved:</h2>

      <ul>
      <% @line_staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :draft_id %><br>
    <%= f.text_field :draft_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
