<h3>Posts</h3>

<div class="row">
  <ul id="posts" data-update-url="<%= sort_posts_url %>">
  <% @posts.each do |post| %>
  <div class="span2 well">
    <%= content_tag_for :dt, post do %>
        <h4><%= post.title %></h4>
        <%= post.description %>
        <br/>
        <small>Created at <%= post.created_at %></small>
        <br/>
        <%= link_to "Show", employee_path(@employee) %>
    <% end %>
      </div>
  <% end %>
  </ul>
</div>






