<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
  <div class="well">
    <% @posts.each do |post| %>
    <center><h3><font color="steelblue"><%= post.title %></font></h3></center>
    <% end %>
  </div>

  <div class="row">
    <ul id="posts" data-update-url="<%= sort_posts_url %>">

    <div class="rocks">
    <% @posts.each do |post| %>
    <div class="span1 well">
      <%= content_tag_for :dt, post do %>
          <h4><font color="steelblue"><%= post.day %></font></h4>
          <h5><font color="turquoise"><%= post.shift %></font></h5>
          <h6><%= post.chef1 %></h6>
          <h6><%= post.chef2 %></h6>
          <h6><%= post.chef3 %></h6>
          <h6><%= post.chef4 %></h6>
          <h6><%= post.chef5 %></h6>
          <h5><font color="turquoise"><%= post.shift2 %></font></h5>
          <h6><%= post.chef6 %></h6>
          <h6><%= post.chef7 %></h6>
          <h6><%= post.chef8 %></h6>
          <h6><%= post.chef9 %></h6>
          <h6><%= post.chef10 %></h6>
          <h6><font color="red"><%= post.description %></font></h6>
          <% if logged_in? %>
            <h6><%= link_to "Edit", edit_post_path(post) %></h6>
          <% end %>
      <% end %>
    </div>
    <% end %>
    </div>
    </ul>
  </div>


<h4>Messages</h4>

<% @messages.each do |message| %>
  <div class="well">

    <%= message.note %>
    <br/>
    <% if logged_in? %>
      <small><%= link_to "Edit", edit_message_path(message) %></small>
    <% end %>
    <br/>
    <small>Posted on <%= message.created_at %></small>
  </div>
  <% end %>
<br/>

  <bold><center><small>Developed by Seasalt Studio</small></center></bold>
</body>





